

h1{
  color:black;
  text-align:center;
  font-family: 'Poppins', sans-serif;
  font-style:oblique;
  justify-content: left;
}
body{
  background-color:bisque;
  font-family:'Arial';
  font-size:20px;
  margin:10px;
  padding:5px;
  word-spacing:3px;
}
#c1{
  color:blue;
}
#b{
  color:brown;
  display:inline;
  justify-content:right;
}


@media screen and ( min-width:500px){
  h1{
    color:black;
    text-align:center;
    font-family: 'Poppins', sans-serif;
    font-style:oblique;
  }
  body{
    background-color:bisque;
    font-family:'Arial';
    font-size:20px;
    margin:10px;
    padding:5px;
    word-spacing:3px;
    flex-direction:column;
    text-align:center;
  }
  #c1{
    color:blue;
  }
  img{
    max-width:100%;
  }
  
}